@font-face {
  font-family: 'VarelaRound';
  src: url('../asset/VarelaRound-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: VarelaRound;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: 1px solid #cacaca;
}

header h1 {
  margin-left: 0.5em;
}

nav ul {
  display: flex;
  margin-right: 0.5em;
  margin-bottom: -1px;
}

nav ul li {
  border: 1px solid #cacaca;
  margin-right: -1px;
  border-radius: 10px 10px 0 0;
}

nav ul li button {
  cursor: pointer;
  padding: 0.5em 1em;
  background: none;
  border: none;
}

.active {
  border-bottom: 1px solid #ffffff;
}

.purpose {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  font-size: 1.5em;
}

.purpose h2 {
  font-size: 1.5em;
  text-align: center;
}

.info {
  display: flex;
  gap: 25%;
}

.info aside {
  width: 50%;
  height: auto;
}

.info aside img {
  display: block;
  width: 100%;
  height: auto;
}

.info div {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
}

.menu-container {
  border: 1px solid #cacaca;
  border-radius: 15px;
  width: 40%;
  margin: auto;
  margin-top: 5em;
  padding: 3em 3em 1em 3em;
  margin-bottom: 1em;
}

.menu-h2 {
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid #cacaca;
  padding: 1em;
  margin: 0;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.menu-section:not(:last-child) {
  border-bottom: 1px solid #cacaca;
}

.menu-section article {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-section article div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-section article:not(:last-child) {
  margin-bottom: 1em;
}

.menu-section article img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.contact-container {
  font-size: 1.5em;
  text-align: center;
  padding: 2em;
}
